head
    title= Login
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style 
        include ../includes/formStyle.css
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto&display=swap")
body
    div(class="form-container")
        h1 Login 
        form(action="/login", method="post")
                label Username:
                input(type="text", name="username")

                label Password:
                input(type="password", name="password")

                input(type="submit", value="Login", class="button")

        div(class="error-container")
            p#pug-variable= message

        div(class="link-container")
            a(href="/") Return to Homepage<br/>
        