p Hello
 form(action="/profile", method="post")
    div
        label(for="content") What to do:
        input(type="text", name="content")
    div
        label(for="timeLimit") When it should be done:
        input(type="datetime-local", name="timeLimit")
    div 
        input(type="submit", value="Add to list")

a(href="/logout") Logout
div
    p Goal ------ Time Limit
    ul
    each post in postPlace
        li #{post.content}  ||   #{post.timeLimit}
            a(href="profile/"+ post.id)
                button(type="button") X

    