/*General Style*/
h1 {
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
  font-weight: 770;
  text-decoration: underline;
  text-align: left;
}

body {
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

a:link {
  color: whitesmoke;
  text-decoration: none;
}

a:visited {
  color: whitesmoke;
  text-decoration: none;
}

form {
  display: grid;
  grid-template-columns: 30% 1fr;
  text-align: left;
}

form > input {
  background-color: whitesmoke;
  outline: none;
  margin: 3px;
}

input,
button {
  grid-column: 2/3;
}
/*///////////////////////////////////*/

/*Classes Style*/
.form-container {
  background-color: rgb(241, 160, 9);
  display: inline-block;
  width: 600px;
  height: 350px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 10px;
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -320px; /* This was supposed to be half the width, but for some reason i coudln´t center so i compensated */
  text-align: center;
}
/*///////////////////////////////////*/

/*Link button*/
.link-container {
  display: inline-block;
  width: 37%;
  border: whitesmoke;
  border-style: solid;
  position: relative;
  top: 30px;
  text-align: center;
  margin: 3px;
}

.link-container:hover {
  background-color: brown;
}
/*///////////////////////////////////*/

.error-container {
  display: inline-block;
  font-weight: lighter;
  width: 100%;
  height: 20%;
}

.welcomeTitle{
  text-align: center;
}
/*///////////////////////////////////*/

/*Submit button Style*/
.button {
  background-color: transparent;
  color: whitesmoke;
  border: whitesmoke;
  border-style: solid;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.button:hover {
  background-color: brown;
}
/* ////////////////////////////////////*/

/*Queries*/
@media (max-width:600px){
    .form-container{
      width: 400px;
      margin-left: -220px;
    }
    .link-container{
      width: 80%;
    }
}

@media (max-width:400px){
  .form-container{
    width: 300px;
    left: 63%;
  }
  .error-container {
    display: inline-block;
    font-weight: 300;
  }
}

@media (max-width:350px){
  .form-container{
    width: 250px;
    left: 74%;
  }
  body{
    font-weight: 200;
  }
}
/*///////////////////////////////////*/