/*General Style*/
a:link {
  color: whitesmoke;
}

a:visited {
  color: whitesmoke;
}
.removeUnderline{
  text-decoration: none;
}
form {
  display: grid;
  grid-template-columns: 30% 1fr;
  text-align: left;
}

form > input {
  background-color: whitesmoke;
  outline: none;
  margin: 3px;
}

input,
button {
  grid-column: 2/3;
}
/*///////////////////////////////////*/


.mainContainer {
  display: flex;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/*Dashboard container*/
.dashboard {
  background-color: rgb(241, 160, 9);
  width: 25%;
  height: 100%;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 10px;
  text-align: center;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 770;
}
.dashboard> h1{
  color: whitesmoke;
  font-weight: 770;
  text-decoration: underline;
  text-align: left;
}
/*///////////////////////////////////*/

/*toDoList Container*/
.toDoList {
  margin: auto auto;
  overflow: scroll;
  overflow-x: hidden;
  height: 90%;
}

.toDoList > li {
  --dimension: 40px;
  height: var(--dimension);
  line-height: var(--dimension);
  width: 800px;
  margin: 3px;
  padding-left: 5px;
  border: black;
  border-style: solid;
  list-style: none;
  overflow: hidden;
  background-color: wheat;
  font-weight: 770;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}

/*///////////////////////////////////*/

/* Buttons */
.delBtn {
  width: 30px;
  border: black;
  border-style: solid;
  text-align: center;
  margin: 5px 3px;
  padding: 3px;
  float: right;
}
.delBtn:hover {
  background-color: brown;
}

.button {
  background-color: transparent;
  color: whitesmoke;
  border: whitesmoke;
  border-style: solid;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  padding: 3px;
}
.button:hover {
  background-color: brown;
}
/*///////////////////////////////////*/
html, body{
  margin: 0;
  padding: 0;
}
/*///////////////////////////////////////*/
@media (max-width:1100px){
  .toDoList > li{
    --dimension: 60px;  
    width: 650px;
  }
  .delBtn{
    margin: 15px 3px;
  }
}
@media (max-width:900px){
  .mainContainer{
    flex-direction: column;
  }
  .dashboard{
    width: 100%;
    height: 35%;
  }
  form{
    grid-template-columns: 10% 1fr;
  }
  form > input {
    margin-right: 3%;
  }
}